# ec2/examples/.terraform/providers/registry.terraform.io/hashicorp/aws/4.26.0/windows_amd64/terraform-provider-aws_v4.26.0_x5.exe
# ec2/examples/.terraform/modules/modules.json
# ec2/examples/.terraform/terraform.tfstate
ec2/examples/.terraform
